.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-list {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.user {
  margin: 1rem 0;
  font-size: 1.2rem;
}
